.idea
.DS_store
NeuroML2/*mod
NeuroML2/*nrn.py
NeuroML2/*dat
NeuroML2/*gv*
NeuroML2/x86_64

NeuroML2/LEMS_SimMejiasFig2.xml
NeuroML2/MejiasFig2.net.nml
NeuroML2/Neuron_2015_Table.csv
NeuroML2/report.*.txt

Python/*pckl
Python/*pyc
Python/debug_neuroML
Python/intralaminar
Python/interlaminar

NeuroML2/LEMS_SimExample.xml
NeuroML2/LEMS_SimMejiasNetwork.xml
NeuroML2/MejiasNetwork.net.nml
NeuroML2/TestNetwork.net.nml
NeuroML2/*.png
/Python/__pycache__
/Python/debug
/Python/*/*.pckl

/NeuroML2/LEMS_SimInterlaminar_0.xml
/NeuroML2/LEMS_SimIntralaminar_0.xml


# Ignore figures inside the Matlab folder
Matlab/*.png
/NeuroML2/*.svg
/NeuroML2/subgraphData30.mat
/NeuroML2/clean.sh
/NeuroML2/*.pov
/NeuroML2/*.ini
/NeuroML2/LEMS_SimInterareal_0.xml
/NeuroML2/LEMS_SimInterareal_3_0.xml
/NeuroML2/*.pov-state
/tests.log
