.idea
.DS_store
NeuroML2/*mod
NeuroML2/*nrn.py
NeuroML2/*dat
NeuroML2/*gv*
NeuroML2/*json
NeuroML2/x86_64

NeuroML2/LEMS_SimMejiasFig2.xml
NeuroML2/MERetal14_on_F99.tsv
NeuroML2/MejiasFig2.net.nml
NeuroML2/Neuron_2015_Table.csv
NeuroML2/report.*.txt

Python/*pckl
Python/*pyc
Python/debug_neuroML
Python/intralaminar
Python/interlaminar

NeuroML2/LEMS_SimExample.xml
NeuroML2/TestNetwork.net.nml
NeuroML2/*.png
/Python/__pycache__
/Python/debug
/Python/*/*.pckl
