airspeed==0.5.4.dev20150515
appnope==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.2
cachetools==0.8.0
configparser==3.5.0
ConnPlotter==0.7a0
cycler==0.10.0
decorator==4.3.0
deepdiff==3.3.0
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
graphviz==0.8.3
html5lib==1.0.1
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
Jinja2>=2.10.1
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazyarray==0.3.2
libNeuroML==0.2.45
llvmlite==0.24.0
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
neo==0.6.1
neuromllite==0.1.4
NEURON==7.5
notebook>=5.7.8
numba==0.39.0
numexpr==2.6.6
numpy==1.14.3
OpenCortex==0.1.10
pandocfilters==1.4.2
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyelectro==0.1.9
Pygments==2.2.0
PyLEMS==0.4.9.1
PyNEST==2.14.0
pyNeuroML==0.3.12
PyNN==0.9.2
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
pyzmq==17.0.0
qtconsole==4.3.1
quantities==0.12.2
scandir==1.7
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
style==1.1.0
subprocess32==3.2.7
tables==3.4.4
terminado==0.8.1
testpath==0.3.1
Topology==2.14.0
tornado==5.0.2
traitlets==4.3.2
update==0.0.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.2.1
